# COGS 108 - Data Checkpoint

# Names

- Anna Wang
- Chloe Salem
- Kristy Liou
- Maxtierney Arias
- Zeven Vidmar Barker

<a id='research_question'></a>
# Research Question

Can we predict which state in the USA will be covid-free first based on current hospital records, state regulations, and population?

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: **Population, Population Changes, and Estimates**
- Link to the dataset: https://www2.census.gov/programs-surveys/popest/datasets/2010-2020/national/totals/nst-est2020.csv
- Number of observations: The US Census dataset from 2010 includes populations of the country, states, and regions as well as estimates of each for every year leading up to 2020. This dataset is the best available given that the 2020 census is still being processed.


- Dataset Name: **US State Vaccinations**
- Link to the dataset: https://github.com/owid/covid-19-data/blob/master/public/data/vaccinations/us_state_vaccinations.csv
- It has 2104 observations, which include data of information of how many people from each state has been vaccinated starting from January 12, 2021.


- Dataset Name: **COVID Tracking**
- Link to the dataset: https://covidtracking.com/data
- It has 2,006 observations, that shows us the number of covid cases and death for each state in the US since Janurary 12, 2020.
1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [45]:
## YOUR CODE HERE
import pandas as pd
import seaborn as sns
import numpy as np

population = pd.read_csv("https://www2.census.gov/programs-surveys/popest/datasets/2010-2020/national/totals/nst-est2020.csv")
vaccinations = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/us_state_vaccinations.csv')
hospital = pd.read_csv('https://covidtracking.com/data/download/all-states-history.csv')
covid_cases = pd.read_csv('trends_in_covid19_cases_and_deaths_in_the_us_reported_to_cdc_by_population_factors-2.csv')

# Data Cleaning

Describe your data cleaning steps here.

In [46]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Removing the reigons population
population = population[5::]
# Remove columns with years outside 2020
population = population.drop(population.columns[7:-1], 1)
population = population.drop(['SUMLEV', 'DIVISION', 'REGION','CENSUS2010POP','ESTIMATESBASE2010'], 1)
population.head()

   STATE        NAME  POPESTIMATE2020
5      1     Alabama          4921532
6      2      Alaska           731158
7      4     Arizona          7421401
8      5    Arkansas          3030522
9      6  California         39368078

In [47]:
vaccinations = vaccinations.drop(['daily_vaccinations_per_million', 'share_doses_used', 'daily_vaccinations_per_million', 'share_doses_used'], 1)
vaccinations.isnull().sum()

date                                     0
location                                 0
total_vaccinations                     205
total_distributed                      244
people_vaccinated                      256
people_fully_vaccinated_per_hundred    452
total_vaccinations_per_hundred         350
people_fully_vaccinated                338
people_vaccinated_per_hundred          375
distributed_per_hundred                363
daily_vaccinations_raw                  65
daily_vaccinations                      65
dtype: int64

In [48]:
covid_cases.columns
covid_cases = covid_cases.drop(['7-day average New Deaths per 100K', '7-day Avg Deaths','Total Deaths per 100k', 'Day Index 7-day Avg New Deaths',
       'Day Index 7-day Average New Deaths per 100K','Day Index Total Deaths',
       'Day Index Total Deaths per 100K'], 1)
covid_cases

,State Name,Submission Date,7-day Avg Cases,7-day average New Cases per 100K,Total Cases,Total cases per 100k,Total Deaths,Day Index 7-day Avg New Cases,Day Index 7-day Avg New Cases per 100k,Day Index Total Cases,Day Index Total Cases per 100K
0,California,2020-03-09,16,0.0412,135,0.3417,2,1,4,1,0
1,California,2020-03-10,17,0.0445,152,0.3847,2,2,5,2,1
2,California,2020-03-11,19,0.0503,175,0.4429,3,3,6,3,2
3,California,2020-03-12,25,0.0647,224,0.5669,4,4,7,4,3
4,California,2020-03-13,29,0.0752,264,0.6681,4,5,8,5,4
...,...,...,...,...,...,...,...,...,...,...,...
2001,Texas,2021-02-07,17587,60.6539,2483742,8565.8442,38643,325,333,325,325
2002,Texas,2021-02-08,14112,48.6690,2491227,8591.6582,38700,326,334,326,326
2003,Texas,2021-02-09,12723,43.8811,2504556,8637.6268,39001,327,335,327,327
2004,Texas,2021-02-10,12049,41.5542,2517453,8682.1056,39386,328,336,328,328
2005,Texas,2021-02-11,11564,39.8825,2529343,8723.1114,39771,329,337,329,329

In [51]:
hospital.columns
hospital = hospital.drop(['dataQualityGrade', 'death', 'deathConfirmed', 'deathIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'], 1)

In [52]:
hospital.columns

Index(['date', 'state', 'deathProbable', 'hospitalized',
       'hospitalizedCumulative', 'hospitalizedCurrently',
       'hospitalizedIncrease', 'inIcuCumulative', 'inIcuCurrently', 'negative',
       'negativeIncrease', 'negativeTestsAntibody',
       'negativeTestsPeopleAntibody', 'negativeTestsViral',
       'onVentilatorCumulative', 'onVentilatorCurrently', 'positive',
       'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease'],
      dtype='object')

# Project Proposal (updated)

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/19  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |